---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
      <h1 class="page__title">{{ page.title }}</h1>
    {% endunless %}
    {{ content }}
  </div>
</div>

{{ content }}

{% if page.show_publications %}
  <h2>Publications</h2>
  {% for post in site.publications reversed %}
    <div class="publication-item">
      <strong>{{ post.title }}</strong><br>
      {{ post.authors }}<br>
      <em>{{ post.journal }}</em>, {{ post.date | date: "%Y" }}<br>
      <a href="{{ post.url | relative_url }}">Link</a>
    </div>
    <br>
  {% endfor %}
{% endif %}